<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExtendedPropertiesDocumentationTool.DocumentationTool" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ExtendedPropertiesDocumentationTool.DocumentationTool>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=localhost;Initial Catalog=CustomerDB;Integrated Security=SSPI;</value>
      </setting>
    </ExtendedPropertiesDocumentationTool.DocumentationTool>
  </userSettings>
</configuration>